$text-grey: #808080;
$background-color: #f5f5f5;

// martin design:

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main__right {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.channel {
  min-width: 18vw;
  width: 18vw;
  background: $background-color;
  padding: 1rem;

  ul {
    overflow: auto;
    height: 35vh;
    list-style: none;
    padding: 0;

    li {
      cursor: pointer;
    }
  }
}

.channel__user__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channel__user__details--info {
  display: flex;
  align-items: center;

  img {
    width: 3rem;
  }
}

.channel__user__details--actions {
  display: flex;
}

// .message {
//   display: flex;
//   justify-content: space-between;
//   margin: 1rem;

//   * {
//     margin: 0;
//   }

//   .message_user {
//     font-weight: bold;
//     margin-bottom: 5px;
//   }

//   .message_text {
//     font-size: small;
//   }

//   .message_time {
//     color: $text-grey;
//   }
// }

// .input {

//   .user_typing {
//     color: $text-grey;
//     font-size: small;
//     margin: 5px;
//   }

//   >div {
//     display: flex;
//     border: 1px solid #666;
//     padding: 2px;

//     input {
//       width: 100%;
//       padding: 1px 2px;
//       outline: none;
//       border: none;
//     }

//     button {
//       background: none;
//       padding: 0.5rem 1rem;
//       border: 0;
//       margin-left: 1rem;
//       box-shadow: none;
//       border-radius: 0px;
//     }
//   }
// }

.bottom__panel {
  display: flex;
  flex-direction: row-reverse;
  height: 2.5vh;
  width: 100%;
  bottom: 0;
}

.chat {
  display: flex;
  align-items: center;
  background: $background-color;
  padding: 1rem;
  margin: 0 0.5rem;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;

  img {
    width: 1.5rem;
  }

  small {
    margin-left: 0.5rem;
  }
}

.chat__wrapper {
  position: relative;
}

.chat__head {
  position: absolute;
  min-width: 100%;
  width: 100%;
  background: $background-color;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1.5rem;
  height: 30vh;
  overflow: auto;
}
