@import "./variables.scss";

body, html {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

// @TMP
.slack__notes, .slack__auth {
  margin: 1rem;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
