@import "./variables.scss";

body, html {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

// parent container
main {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  .main__right {
    flex-grow: 1;
    position: relative;

    > div:first-child {
      margin: 1rem;
    }
  }
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
