.channel {
  min-width: 15vw;
  border-left: #d8d8d8 solid 1px;
  padding: 1rem;
  -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.1);
  box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.1);

  ul {
    overflow: auto;
    height: 35vh;
    list-style: none;
    padding: 0;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      span {
        background: $status--active;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid $status--active;
        margin-right: 0.5rem;
      }

      span.hasNewMessage {
        background: $status--hasNewMessage;
        font-weight: bold;
      }

      span.away {
        background: $status--away !important;
        border: 1px solid gray;
      }
    }

    li.hasNewMessage {
      font-weight: bold;
    }

    li:hover {
      color: gray;
    }
  }
}

.channel__user__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channel__user__details--info {
  display: flex;
  align-items: center;

  p {
    font-weight: bold;
  }

  img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.channel__user__details--actions {
  display: flex;

  img {
    width: 1rem;
  }

  img:hover {
    cursor: pointer;
  }
}
